-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEA28tuzR/ZPtJvF0GaEnqmmC8vPOxQch2rQ78WLEqNcnQ/9L9B
tEIBXcfJ4HKVg18kqlG2Ou9ALPYXMqwHDtlL4MToNUP/HvVyl1c+5m1MoGZBNfhN
v7n50Jd63r4t6OXYEc96O09TjJU/MKw5Lq8Jn4fIEGfBe3alP9I3+OdnmqsWLW35
x9EuA5FbXUWGETk/kufl9rdjQxhCVLNJgdyumCsbQCrrqnnuIeSJ8EwgUAHweo2/
cmNrhdbmHwLBr2+pex2U2/aFWQj5whNSnNMEDmcDqo0IPWjoiewxGQlce074WDfs
6UDUWivoW9RKoD8qGHg8v8FyPOzZ42DWnm/KgQIDAQABAoIBAA3AGFp01556g8Cs
tfrZ+Xoj2YyyLAY3nPNMDRMQRvEWHLovDOk+B9/aE+MayAfD+AM/wWrGdPlbG/Br
mrVvGrQhHXXXnypMqLKXHrRDujt+qi26LwMDm4FVOLaepzieyHm0xSzYtZ1h6OYe
oCUvhiaY1AdStmQG9Ced+ypzL6QZWjaDUsTdUbvUn0JOp0mWL0/vMqHxqFqP5hjH
3ov1rq9JtOtnZQOLnrcYelfXgKOCRkFHxYZLH3RLoc1oOBEte3ofx6lr6V3LQ+Qu
C7pwT+LpQfqEiXXTTBXEDvwelmZqNYMXhA0ZSa/DaWHsXTbLtiqNL8ZhNWVEPMxK
TV9nzRECgYEA/b8yi1+TBSWRvcavhHZ7/fFNRCm5ETwgM7iu88GYSa4mmbwz/Sor
BbxyCiCIM6ZQ3g44Dg6npAm8zVBvIYT563MZoerVmQSWXbnE6RD9ha3snvGO2uVe
5KNTRFAp0C2kk92aGZ0DnYetMLc1o2cXWqRNHyY838S7z3nmKevySocCgYEA3b8O
pReQ6psqoWbDXMAcW3k8kD8dJY6SHY1oh3aTJun+P8KiPP2lbphyqMBqO2XTbZyp
L6MhkhLDDQDms88zxAzOo7G3mg26LyxmZQU2gOxFI8zQ+P9UEtHb0A01To0QzAvp
DjOt7hPczcm5blTSFX5y5m4/p0tiHRxcWavsXLcCgYBCoUcrc+BONKxNcfO6y8YJ
S6inYnFXRjuKeU9vcIGFr3YxXkskikMb0Xz8jchWD7EibgdoIY8BsxDhtOJJofpi
SioL63dFJAA8AkDjlnOL+7yri/CgKCS/0udVg9tG8AVMUp9ZZHKDlhHzPdiW3MY0
JfqeWFMZyzYp5+95SJyp1wKBgEQSvhUyedt7zQeFe54Cn/H48v25UmJQNUz7N0a2
wQ/mL5Y1Uwb0OxALns9tWm9noBN7T3j/VHP6bISWbTxv9I1P/TPFf/68DhcjQz/p
7MSBQ+xsmQ6Hm7C3Wgqxs1as+aYaVe51MQTwdg16ywEy6teMXQueds4N103mgfdJ
TyNbAoGADof3/G0hA4Br1LoUtufu4HWj5kv6WsaF2k2HTHSv7TYzE/orC9rmso+R
NpYMK3OcWMIMOyt/0ZTa7RXKKCPKOFCXn/YDK3YnR147E+3xdBn/niNIhHp9G2lB
ZV4xkztM/hXumYeqHbvyaNJFsNeBcjIoXG1wJm/qktv9ToXGySg=
-----END RSA PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIDvTCCAqUCFAMk2UrgqmUG1CHs6N5NSq7R5bWPMA0GCSqGSIb3DQEBCwUAMIGa
MQswCQYDVQQGEwJJTjESMBAGA1UECAwJVGFtaWxOYWR1MRMwEQYDVQQHDApDb2lt
YmF0b3JlMQ8wDQYDVQQKDAZiYW5mY28xDzANBgNVBAsMBmRldm9wczEWMBQGA1UE
AwwNbXktZ29vZ2xlLmNvbTEoMCYGCSqGSIb3DQEJARYZbGFrc2htaWthbmRhbi50
QGdtYWlsLmNvbTAeFw0yMjAxMDgxOTEwNTVaFw0yMzAxMDgxOTEwNTVaMIGaMQsw
CQYDVQQGEwJJTjESMBAGA1UECAwJVGFtaWxOYWR1MRMwEQYDVQQHDApDb2ltYmF0
b3JlMQ8wDQYDVQQKDAZiYW5mY28xDzANBgNVBAsMBmRldm9wczEWMBQGA1UEAwwN
bXktZ29vZ2xlLmNvbTEoMCYGCSqGSIb3DQEJARYZbGFrc2htaWthbmRhbi50QGdt
YWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANvLbs0f2T7S
bxdBmhJ6ppgvLzzsUHIdq0O/FixKjXJ0P/S/QbRCAV3HyeBylYNfJKpRtjrvQCz2
FzKsBw7ZS+DE6DVD/x71cpdXPuZtTKBmQTX4Tb+5+dCXet6+Lejl2BHPejtPU4yV
PzCsOS6vCZ+HyBBnwXt2pT/SN/jnZ5qrFi1t+cfRLgORW11FhhE5P5Ln5fa3Y0MY
QlSzSYHcrpgrG0Aq66p57iHkifBMIFAB8HqNv3Jja4XW5h8Cwa9vqXsdlNv2hVkI
+cITUpzTBA5nA6qNCD1o6InsMRkJXHtO+Fg37OlA1For6FvUSqA/Khh4PL/Bcjzs
2eNg1p5vyoECAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAuklRwLuwgBTqXkL6AQg3
60tZq+CqAYV4sx0D/aU69rCITpgRNrMmioszEatwScZiRMBW7aKZ86B1vCLszL0A
+pBxLPRQC0+WQLPA/kPaEvc4orM212RW10hmf23+QUZrDQRswGIv8P99BHMmxVwO
WZKUgwvM5kfE1TryUzYXv6ZOwHWhsrg8L9mHonY1WcgmFMtLiOi9IZV7OpO4kGwL
LHeauHlxxJtta722Vjhh59Vude/8D0fuDfETWpI91o6sNndFPWUPK2PqPpYjdwrj
SfcpJsTLvrFS7/3t/tFqY3exeJxRSiT0b6DdeplbR23Trn35MoX5NhY9KxgJbjIO
Tg==
-----END CERTIFICATE-----
